{% extends 'index.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="sidebar_02">
    <div class="container">
        <!-- <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a> -->
        <!-- <h1 class="mt-5">All Reports</h1> -->
        <div class="text">Dashboard</div>
    <ol>
        <li class="nav-link-02">
            <a href="#">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Employee List</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="/production_management">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Logistic Support</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="all_reports">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Performance</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="maintenance_management">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Maintenance</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="manpower">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Officer</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="#">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Permanent Worker</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="kpi">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Casual Worker</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="kpi">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Eid Duty</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="kpi">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Recommendation</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="kpi">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Salary</span> 
            </a>
        </li>
        <li class="nav-link-02">
            <a href="kpi">
                <i class='bx bxs-file-doc icon'></i>
                <span class="text">Ex Employee</span> 
            </a>
        </li>
    </ol>
    </div>

</div>

{% endblock %}
