




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Reports</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/" class="btn btn-primary">Home</a>

        <h1 class="mt-5">All Reports</h1>
        <a href="/create_batch" class="btn btn-success">Production Report (Previous Month)</a>
        <a href="/modify_batch" class="btn btn-warning">Production Report (This Month)</a>
        <a href="/delete_batch" class="btn btn-danger">Yearly Report</a>
        <a href="/check_report" class="btn btn-info">Bulk Report (BM)</a>
        <a href="/check_report" class="btn btn-info">Bulk Report (Gold)</a>
        <a href="/check_report" class="btn btn-info">SCBL Trawler Details</a>
        <a href="/check_report" class="btn btn-info">Bulk Report</a>
        <a href="/check_report" class="btn btn-info">Bulk Report</a>
        <a href="/logout" class="btn btn-secondary">Logout</a>
    </div>
</body>
</html>
